[submodule "oh-my-zsh/.oh-my-zsh/custom.symlink/plugins/zsh-autosuggestions"]
	path = oh-my-zsh/.oh-my-zsh/custom.symlink/plugins/zsh-autosuggestions
	url = git://github.com/zsh-users/zsh-autosuggestions
